.body{
    background-image: url('../images/Logo-Figuil.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #079292;
    text-align: justify;
    margin-left: 120px;
    margin-right: 120px;
}
.d-flex{
    display: flex;
}

.padding-15{
    padding: 15px;
}

.mx-15{
    margin-right: 25px;
    margin-left: 25px;
}
.mx-40{
    margin-right: 40px;
    margin-left: 70px;
}
.my-15{
    margin-top: 15px;
    margin-bottom: 15px;
}

.border{
    border: 1px solid #fff;
}
.border-red{
    border: 1px solid rgb(252, 7, 7);
}
.radius-20{
    border-radius: 20px;
}
.bg-color{
    background-color: #a1ddba;
}
.bg-image{
    background-image: url('../images/Logo-Figuil.png');
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: none;
}
.logo-img{
    width: 400px;   
}
.border-bottom{
    border-bottom:3px solid #00bfff;
}
.btn{
    background-color: rgb(7, 206, 74);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin: 20px;
    border: 2px dashed #0e3d23;
}
.text-bold{
    font-weight: bold;
    font-size: x-large;
}
.text-align{
    text-align:left ;
}
.bg-green{
    background-color: #b7d8d8;
}
.p-5{
    padding: 5px;
}
.text{
    text-align: justify;
}