body {
    min-height: 75rem;
    padding-top: 5rem;
  }
  .logo-img{
      width: 2em;
  }
.caousel-img{
    max-height: 32rem;
}
.row > .col-12 > .card > img{
    max-height: 12rem;
}
.logo-imge{
    width: 400px;   
}