.dropdown-menu.bg-dark .dropdown-item {
    color: #e9ecef;
  }

  .dropdown-menu.bg-dark .dropdown-item:hover,  .dropdown-menu.bg-dark .dropdown-item:active, .dropdown-menu.bg-dark .dropdown-item:focus     {
    color: #17a2b8;
  }

  .img-logo{
      width:50px;
      border-radius: 0.2em;
  }


.bg-body{
    background-color: #17a2b86e ;
}