.body {
    background-color: #3f5e40;

    text-align: justify;
   
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;

}
.text-yelow {
    color: gold;
}
.text-wite {
    color: #fff;
}
.card {
    border: 1px solid #ffffff;
    padding: 10px;
}

.border{
    border: 1px solid #ffffff;
}

.card-header {
    border: 3px solid #00bfff;
    border-radius: 30px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}


.br-15{
    border-radius: 15px;
}
.bl-15{
    border-left: 15px;
}
.bt-15{
    border-top: 15px;
}
.bb-15{
    border-bottom: 15px;
}


.br-5{
    border-radius: 5px;
}
.bl-5{
    border-left: 5px;
}
.bt-5{
    border-top: 5px;
}
.bb-5{
    border-bottom: 5px;
}
.p-15{
    padding: 15px;
}


.pl-120{
    padding-left: 120px;
}
.pb-15{
    padding-bottom: 15px;
}
.pr-120 {
    padding-right: 120px;
}
.pt-15 {
    padding-top: 15px;
}
.btn{
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    border: 1px solid #3D4b7b;
    cursor: pointer;
}

.btn-primary{
background-color: #3D4b7b;
border: 1px solid #3D4b7b;
color: #fff;
cursor: pointer;
}
.btn-primary:hover{
    background-color: #777f9e;
    border: 1px solid #3D4b7b;
}

.btn-success{
    background-color: #47d310;
    border: 1px solid #47d310;
    color: #fff;
    cursor: pointer;
    }
.btn-success:hover{
    background-color: #bceea9;
    border: 1px solid #47d310;
}

.btn-danger{
    background-color: #99312e;
    border: 1px solid #99312e;
    color: #fff;
    cursor: pointer;
}
        .btn-danger:hover{
            background-color: #946968;
            border: 1px solid #99312e;
        }

        .btn-warning{
            background-color: #e4d611;
            border: 1px solid #e4d611;
            color: #fff;
            cursor: pointer;
            }

        .btn-warning:hover{
                background-color: #4b4a40;
                border: 1px solid #e4d611;
            }
        .btn-info{
                background-color: #0ad8f3;
                border: 1px solid #0ad8f3;
                color: #fff;
                cursor: pointer;
                }
        .btn-info:hover{
                    background-color: #516b6e;
                    border: 1px solid #0ad8f3;
                }
.text-center{
     text-align: center;
}
.justify-arround{
    justify-content: space-around;
}
.justify-between{
    justify-content: space-between;
}
.bg-primary{
    background-color: #c5981e;
}
.d-flex{
    display: flex;
}
.bg-info{
    background-color: #00bfff;
}

.border-dashed{
    border: 3px dashed #00bfff;
    padding: 5px;
}
.border-d{
    border: 3px ridge #00bfff;
    padding: 5px;
}
.mg-70{
    margin: 70px;
}
.mg-100{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 70px;
    margin-bottom: 70px;



}

.fond-weight{
    font-weight: bold;
    font-size: x-large;
}

.theme{
    background-color: #00bfff;
    margin: 60px;
    margin-left: 100px;
    margin-right: 100px;
}
.text-left{
    text-align: left;
}