.bg-images-html{
    background-image: url('../images/tech/logo-html5-with-bg.jpg');
    height: 500px;
    width: 100%;
    background-position: center;
    background-size: cover;
    display: none;
}
.body{
    background-image: url('../images/tech/logo-css3-with-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}