.abody {
    background-color: #3f5e40;

    text-align: justify;
   
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 50px;

}
.atext-yelow {
    color: gold;
}
.atext-wite {
    color: #fff;
}
.acard {
    border: 1px solid #ffffff;
    padding: 10px;
}

.aborder{
    border: 1px solid #ffffff;
}

.acard-header {
    border: 3px solid #00bfff;
    border-radius: 30px;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
}


.abr-15{
    border-radius: 15px;
}
.abl-15{
    border-left: 15px;
}
.abt-15{
    border-top: 15px;
}
.abb-15{
    border-bottom: 15px;
}


.abr-5{
    border-radius: 5px;
}
.abl-5{
    border-left: 5px;
}
.abt-5{
    border-top: 5px;
}
.abb-5{
    border-bottom: 5px;
}
.ap-15{
    padding: 15px;
}


.apl-120{
    padding-left: 120px;
}
.apb-15{
    padding-bottom: 15px;
}
.apr-120 {
    padding-right: 120px;
}
.apt-15 {
    padding-top: 15px;
}
.abtn{
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    border: 1px solid #3D4b7b;
    cursor: pointer;
}

.abtn-primary{
background-color: #3D4b7b;
border: 1px solid #3D4b7b;
color: #fff;
cursor: pointer;
}
.abtn-primary:hover{
    background-color: #777f9e;
    border: 1px solid #3D4b7b;
}

.abtn-success{
    background-color: #47d310;
    border: 1px solid #47d310;
    color: #fff;
    cursor: pointer;
    }
.abtn-success:hover{
    background-color: #bceea9;
    border: 1px solid #47d310;
}

.abtn-danger{
    background-color: #99312e;
    border: 1px solid #99312e;
    color: #fff;
    cursor: pointer;
}
        .abtn-danger:hover{
            background-color: #946968;
            border: 1px solid #99312e;
        }

        .abtn-warning{
            background-color: #e4d611;
            border: 1px solid #e4d611;
            color: #fff;
            cursor: pointer;
            }

        .abtn-warning:hover{
                background-color: #4b4a40;
                border: 1px solid #e4d611;
            }
        .abtn-info{
                background-color: #0ad8f3;
                border: 1px solid #0ad8f3;
                color: #fff;
                cursor: pointer;
                }
        .abtn-info:hover{
                    background-color: #516b6e;
                    border: 1px solid #0ad8f3;
                }
.atext-center{
     text-align: center;
}
.ajustify-arround{
    justify-content: space-around;
}
.ajustify-between{
    justify-content: space-between;
}
.abg-primary{
    background-color: #c5981e;
}
.ad-flex{
    display: flex;
}
.abg-info{
    background-color: #00bfff;
}

.aborder-dashed{
    border: 3px dashed #00bfff;
    padding: 5px;
}
.aborder-d{
    border: 3px ridge #00bfff;
    padding: 5px;
}
.amg-30{
    margin: 30px;
}
.amg-100{
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 70px;
    margin-bottom: 70px;



}

.afond-weight{
    font-weight: bold;
    font-size: x-large;
}

.atheme{
    background-color: #00bfff;
    margin: 60px;
    margin-left: 100px;
    margin-right: 100px;
}
.atext-left{
    text-align: left;
}